body {
  background-color: #00763a;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://media.istockphoto.com/id/950354934/vector/blackjack-table-top-view.jpg?s=612x612&w=0&k=20&c=N3rF2GAP-5t-8oaiF-vS65qbCW0VTADUiaq7LYN7rzw=");
}
.quit {
  display: inline;
  justify-content: right;
  color: white;
}
.title {
  display: flex;
  justify-content: center;
  color: black;
}
.fa-solid {
  display: flex;
  justify-content: center;
  color: white;
}

.hit {
  display: inline;
  color: white;
  background-color: black;
  width: 50px;
  display: none;
}
.stand {
  display: inline;
  color: white;
  background-color: black;
  width: 50px;
  display: none;
}

.start {
  display: inline;
  color: white;
  background-color: black;
  width: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.new {
  display: inline;
  color: white;
  background-color: black;
  width: 50px;
  display: none;
}
.money {
  color: tan;
  background-color: green;
  border-color: black;
  width: 50px;
  text-align: center;
  margin: 2px;
}
.bet {
  color: tan;
  background-color: green;
  border-color: black;
  width: 50px;
  text-align: center;
  margin: 2px;
}
.phand {
  color: black;
  text-align: center;
  font-size: large;
}
.dhand {
  text-align: center;
  color: black;
  font-size: large;
}
#card1 {
  text-align: center;
  color: black;
  font-size: large;
}
/* use css tricks file */
