body {
  background-color: #00763a;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://media.istockphoto.com/id/950354934/vector/blackjack-table-top-view.jpg?s=612x612&w=0&k=20&c=N3rF2GAP-5t-8oaiF-vS65qbCW0VTADUiaq7LYN7rzw=");
}
.quit {
  display: inline;
  justify-content: right;
  color: white;
}
.title {
  position: absolute;
  top: -5px;
  left: 45%;
  right: 50%;
  color: black;
}
.fa-solid {
  justify-content: center;
  color: white;
}

.hit {
  display: inline;
  color: white;
  background-color: black;
  width: 75px;
  display: none;
  position: absolute;
  left: 40%;
  top: 80%;
}
.stand {
  display: inline;
  color: white;
  background-color: black;
  width: 75px;
  display: none;
  position: absolute;
  left: 60%;
  top: 80%;
}

.start {
  display: inline;
  color: white;
  background-color: black;
  width: 50px;
  position: absolute;
  left: 45%;
  top: 80%;
}
.new {
  display: none;
  color: white;
  background-color: black;
  width: 50px;
  position: absolute;
  left: 50%;
  top: 80%;
}
.chipsword {
  position: absolute;
  top: 10px;
  right: 25px;
}
.betword {
  position: absolute;
  top: 10px;
  right: 140px;
}
.money {
  position: absolute;
  top: 50px;
  right: 25px;
  color: tan;
  background-color: green;
  border-color: black;
  width: 50px;
  margin: 2px;
}
.bet {
  position: absolute;
  top: 50px;
  right: 130px;

  color: tan;
  background-color: green;
  border-color: black;
  width: 50px;
  text-align: center;
  margin: 2px;
}
.phand {
  position: absolute;
  height: 200px;
  left: 45%;
  top: 300px;
  width: 100px;
  color: black;
  font-size: large;
}
.dhand {
  position: absolute;
  top: 40px;
  left: 45%;
  color: black;
  font-size: large;
}

#card1 {
  position: absolute;
  height: 200px;
  top: 325px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: ;
  display: none;
}
#card2 {
  position: absolute;
  left: 60px;
  top: 325px;
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: ;
  display: none;
}
#card3 {
  position: absolute;
  left: 120px;
  top: 325px;
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: ;
  display: none;
}
#card4 {
  position: absolute;
  left: 180px;
  top: 325px;
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: ;
  display: none;
}
#card5 {
  position: absolute;
  left: 240px;
  top: 325px;
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: ;
  display: none;
}
#dcard1 {
  position: absolute;
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: ;
  display: none;
}
#dcard2 {
  position: absolute;
  left: 60px;
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: );
  display: none;
}
#dcard3 {
  position: absolute;
  left: 120px;
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: ;
  display: none;
}
#dcard4 {
  position: absolute;
  left: 180px;
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image:;
  display: none;
}
#dcard5 {
  position: absolute;
  left: 240px;
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: ;
  display: none;
}

/* use css tricks file */
